body
{
    background-image: url("https://www.google.com/imgres?q=program&imgurl=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Ftlr8oxjg%2Fproduction%2Ff2fb25c9cafe100e220f0caf70f92cf19a6ec3dc-1456x816.png%3Fw%3D3840%26q%3D100%26fit%3Dclip%26auto%3Dformat&imgrefurl=https%3A%2F%2Fwww.udacity.com%2Fcourse%2Fdesign-of-computer-programs--cs212&docid=TXg-rWXsGxwMJM&tbnid=K1v2Xo0-s2niUM&vet=12ahUKEwj2z-D1-rCIAxVxTqQEHVd6BBkQM3oECH8QAA..i&w=3840&h=2152&hcb=2&ved=2ahUKEwj2z-D1-rCIAxVxTqQEHVd6BBkQM3oECH8QAA");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
head{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    z-index: 999;
}
.logo{
    text-decoration: none;
color: #2b00ff;
text-transform: uppercase;
font-weight: 700;
font-size: 1.8em;
}
.navigation a {
    text-decoration: none
    color #2b00ff;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
}
.navigation a :hover{
    color: 601cfc;
}